@font-face {
  font-family: 'sansationregular';
    src: url('sansation_regular-webfont.eot');
    src: url('sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('sansation_regular-webfont.woff') format('woff'),
      url('sansation_regular-webfont.ttf') format('truetype'),
      url('sansation_regular-webfont.svg#sansationregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
body {
  background-color:#edecec;
}
.nav-menu {
  display: block;
  background: #74adaa;
  width:1050px;
  margin: 50px auto 150px;
}

.nav-menu > li {
  display: inline;
  float:left;   
  border-right:1px solid #94c0be;
}
.nav-menu > li:last-child {
  border-right: none;
}
.nav-menu li a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-family: 'sansationregular';
  -webkit-font-smoothing: antialiased;
  text-transform: capitalize;
  overflow: visible;
  line-height: 20px;
  font-size: 20px;
  padding: 15px 30px 15px 31px;   
}


.three-d {
  perspective: 200px;
  transition: all .07s linear;
  position: relative;
}

.three-d:not(.active):hover {
  cursor: pointer;
}

.three-d:not(.active):hover .three-d-box, 
.three-d:not(.active):focus .three-d-box {
  transform: translateZ(-25px) rotateX(90deg);
}

.three-d-box {
  transition: all .3s ease-out;
  transform: translatez(-25px);
  transform-style: preserve-3d;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotatex(0deg) translatez(25px);
}

.back {
  transform: rotatex(-90deg) translatez(25px);
  color: #FFE7C4;
}

.front, .back {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #74adaa;
  padding: 15px 30px 15px 31px; 
  color: white;
  pointer-events: none;
  box-sizing: border-box;
}
.nav-menu li .active .front,
.nav-menu li .active .back,
.nav-menu li a:hover .front,
.nav-menu li a:hover .back {
  background-color: #51938f;
  background-size: 5px 5px;
  background-position: 0 0, 30px 30px;
  background-image: linear-gradient(45deg, #478480 25%, transparent 25%, transparent 75%, #478480 75%, #478480), linear-gradient(45deg, #478480 25%, transparent 25%, transparent 75%, #478480 75%, #478480);
}
.nav-menu ul {
  position: absolute;
  text-align: left;
  line-height: 40px;
  font-size: 14px;
  width: 200px;
  transition: all 0.3s ease-in;
  transform-origin: 0px 0px;
  transform: rotateX(-90deg);
  backface-visibility: hidden;
}
.nav-menu > li:hover ul {
  display: block;
  transform: rotateX(0deg);
}
.nav-menu{ height:50px ;
  width: 740px ;
 }


.lk{height: 15px;
width:auto;
background-color:#74adaa;}
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.slider {
max-width: 100%;
position: relative;
margin: 20px auto;
height: 500px;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.slider {
max-width: 90%;
position: relative;
margin: 20px auto;
height: 500px;
}


.slider__item img {
object-fit: cover;
width: 1000px;
height: 500px;
}

.slider__item {
width: 1000px;
height: 500px;
display: none;
}

.slider__item.active {
display: block;
}


.prev {
  position: absolute;
  top: 50%;
  width:auto;
  margin-top: -25px;
  padding: 1.5%;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  user-select: none;
 
}
.next {
position: absolute;
top: 50%;
width:auto;
margin-top: -25px;
padding: 1.5%;
color: #000;
font-weight: bold;
font-size: 20px;
line-height: 42px;
border-radius: 0 3px 3px 0;
cursor: pointer;
user-select: none;

}

.next {
right: -100px;
border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.4);
}

.slider-dots {
text-align: center;
}

.slider-dots__item {
display: inline-block;
cursor: pointer;
margin-top: 20px;
height: 12px;
width: 12px;
background-color: #dadada;
border-radius: 50%;
transition: background-color 0.5s ease;
}

.active,
.slider-
dots__item:hover {
background-color: #aaa;
}


.slider__item {
animation: fade 1.2s;
}

@keyframes fade {
from {
  opacity: .3
}

to {
  opacity: 1
}
}
.Home1{ width: 100%;
height: 70;
display: inline;
float: right;
display: flex;
justify-content: space-around;
flex-direction: row;
background-image: url(Фон4.jpg);
background-repeat: no-repeat;
background-size: 100% auto;}
.Home2{
display: inline-block;
}
.nhg{ height: 570px;
width:1300px;
display: flex;
justify-content: center;
margin: 0 auto;
}
.nh{ margin-top: 10px;
margin-right: 150px}
.nh img{height: 150px;
width: 200px ;}

.Home4{ display: inline-block;}
.Home5{ display: inline-block;
height: auto;}

.Ph2{ height:auto ;
  margin: 2px 2px 2px 2px;
width:100% ;}
.mj{ width:100%;
height: 2px;
margin-bottom:20px ;
background-color: #4c8a6d;
}
.mm{ width:100%;
  display: inline-block;
  height: 2px;
  background-color: #4c8a6d;
 }
.Home3{
    background-size: 100% auto;
width: 100%;
padding-left:30px;
display: flex;
flex-direction: column;
justify-content: center;
margin-bottom: 20px;


}
h2{ text-align: center;}
p{
  text-align:center;}
footer {
  width:100%; 
  height: auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px; 
  background-color: #74adaa;
  width: 100%;
  position: relative;
  height: auto;
  margin-bottom: 0;

}
footer .col {
  width: 250px;
  height: auto;
  float: left
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 0px 0px 100px;
}
footer .col h1 {
  color:#006666;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .col ul li {
  color: #FFFFFF;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.Home5{
   display: flex;
  justify-content: center; 
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: auto;
    width: 100%;
    padding: 2vw;}
footer {
  width:100%; 
  height: auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px; 
  background-color: #74adaa;
  width: 100%;
  position: relative;
  height: auto;
  margin-bottom: 0;

}
footer .col ul li img{
padding: 5px 5px 5px 5px;
 height: 60px;
width: 60px; }
footer .col p{
  text-align:left;
  color: #FFFFFF;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;}
 .input{ height:35px ;
 width:330px ;}
 .label-box{ height: 20px;
 width: 100px;
 color:   #FFFFFF; }
 .form h1{ height:50px ;
 width:330px ;
 color:#B0E0E6; }
 .btn{ color:#000000; 
  background-color:#B0E0E6 ;
height:30px ;
width:70px: 
}
.photo{background:  #74adaa;
    float: left;
    position: relative;
    width: 300px;
    padding-bottom: 50px 50px 50px 35px;
    margin: 50px;
    margin-left: 90px}
.photo img { height: 200px;
width: 300px; }
h3{ text-align: center;}
.container {background-color:rgba(116, 173, 170, 20);  
   height:100%;
   width:auto;
   overflow:hidden;
}
.shaped {
   background: black url(https://rehouz.info/wp-content/uploads/2017/10/%D0%90%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9-%D1%81%D1%82%D0%B8%D0%BB%D1%8C-min.jpg) center top no-repeat;
   height:420px;
   width:600px;
   background-size:cover;
   float:right;
   shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
   shape-margin:20px;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
   clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%)
}
.content h1{
  margin-top: 15px;
  margin: 2px;
  font-size: 40px;
  line-height: 40px;
}
.content p{
  margin-top:15px;
  margin-left: 10px;
  text-align:justify;
}
.company{
  margin: 10px 30px 30px 10px; 
float: left;
position: relative;
display: flex;
flex-direction: row;
height: 200px;
width: 300px;
border: 2px   solid #74adaa;
 }
 .Home6 h1{ width: 100%;
 height: 50px;
 background: linear-gradient(45deg, rgb(176, 224, 230), rgb(102, 153, 255));
 }
 .texy{display: flex;
flex-direction: row;
background-color: #FFFFFF; 
padding-top:30px; }
 .company img{
 margin-top: 20px;
  height:90px;
 width:60px; }

 .com{ margin-left: 200px }
 .Home6{ width: 100%;
  height: auto;
display: inline-block;
  justify-content: center; }

